body{
    background: #1D1D1D;
    overflow-x: hidden;
    max-height: 100vh;
    
}
.change-bg{
    background: #181818;
    height: 105vh;
}
.html-tag{
    color: #47484B;
    font-family: 'Marck Script', cursive;
    font-size: 1.3rem;
   


}
.personal-info{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
    opacity: 0.9;

}
.contact-me-button{
    word-spacing: inherit;
}
.job-details{
    color: #666666;
    font-family:monospace;
    text-shadow: 2px 2px 4px #000000;
}

.logo-middle img{
    width: 300px;
}
.img-1{
    margin: 150px;
    margin-left: 0px;
}
.img-2{
    margin-top: -656px;
    margin-left: -6px;
}
.separator{
    color: #08FDD8;
    font-weight: bold;
}
.comma{
    color: #FC0853;
    opacity: 0.9;
}
.contact-me-button{
    letter-spacing: 2px;
    color: #FC0853;
    opacity: 0.7;
    text-shadow: 2px 2px 4px #000000;
}

.contact-me-button2{
    letter-spacing: 2px;
    color: #08FDD8;
    opacity: 0.7;
    text-shadow: 2px 2px 4px #000000;
}
.contact-me-button:hover{
    background: #FC0853;
    border: none;
    color: #fff;
}

.contact-me-button2:hover{
    background: #08FDD8;
    border: none;
    color: #fff;
}

.fas,.far,.fab{
    color: #656565;
    opacity: 0.8;
}
.fab:hover{
     color: #08FDD8;
}
.fas:hover{
     color: #08FDD8;
}

.far:hover{
     color: #08FDD8;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox fas {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background:#181818;
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 13px;
    color: #08FDD8;
    letter-spacing: 1.3px;
	display: inline-block;
	position: absolute;
    opacity: 0.8;
	top: 50%;
	left: 50%;
    text-shadow: 2px 2px 4px #000000;

	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox-text a{
    text-decoration: none;
    color: #08FDD8;
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.navbar{
    background: #181818;
}
.navbar-nav a{
    color: #666666 !important;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Roboto', sans-serif;
}
.navbar-nav a:hover{
    color: #08FDD8 !important;
}
.active{
    color: #08FDD8 !important;
}
footer{
    background: #181818;
    min-height: 50px;
}

.copyright{
    color:#BBBBBB !important;
    opacity: 0.9;
}
.navbar{
  opacity: 0.8;
}


/*Media Query*/
/*

@media all and (max-width:768px){
    .img-1{

        margin: 180px;
        margin-left: -6px;
    }
    .img-2{

        margin-top: -610px;
        margin-left: -8px;
    }
    .logo-middle img{
        width: 200px;
    }
}
*/

@media all and (min-width:250px){

    .jhamela{
        margin-left: 40px;
    }

}


@media screen and (min-width: 200px) and (max-width: 299px){
      #main-body{
        padding-left: 5px;
    }
    .personal-info{
    font-size: 0.8rem;
        letter-spacing: 0px;


}
    .job-details{
    font-size: 10px;
}
    .contact-me-button{
        margin-bottom: 5px;
        width: 150px;
        font-size: 12px;

    }
    .contact-me-button2{
        margin-left: 49px;
        width: 150px;
        font-size: 12px;
    }

}

@media screen and (min-width: 300px) and (max-width: 359px){
      #main-body{
        padding-left: 10px;
    }
    .personal-info{
    font-size: 1rem;


}
    .job-details{
    font-size: 13px;
}
    .contact-me-button{
        margin-bottom: 5px;
        width: 150px;
        font-size: 12px;

    }
    .contact-me-button2{
        margin-left: 49px;
        width: 150px;
        font-size: 12px;

    }

}

@media screen and (min-width: 360px) and (max-width: 394px){
      #main-body{
        padding-left: 10px;
    }
    .personal-info{
    font-size: 1.4rem;

}
    .contact-me-button{
        font-size: 13px;

    }
    .contact-me-button2{

        font-size: 13px;

    }

}

@media screen and (min-width: 395px) and (max-width: 494px){
      #main-body{
        padding-left: 20px;
    }
    .personal-info{
    font-size: 1.7rem;


}
    .contact-me-button{
        font-size: 13px;

    }
    .contact-me-button2{

        font-size: 13px;

    }

}

@media screen and (min-width: 495px) and (max-width: 575px){
      #main-body{
        padding-left: 20px;
    }
    .personal-info{
    font-size: 2.5rem;


}

}

@media screen and (min-width: 576px) and (max-width: 767px){
    #main-body{
        padding-left: 20px;
    }
    .personal-info{
    font-size: 3.2rem;


}

}

@media screen and (min-width: 768px) and (max-width: 991px){
    #main-body{
        padding-left: 20px;
    }
     .img-1{

        margin: 170px;
        margin-left: -4px;
    }
    .img-2{

        margin-top: -570px;
        margin-left: -8px;
    }
    .logo-middle img{
        width: 180px;
    }
    .personal-info{
    font-size: 3.2rem;


    }
 
}


@media screen and (min-width: 992px) and (max-width: 1100px) {

    .hvrbox .hvrbox-text {
    text-align: center;
	font-size: 10px;
    letter-spacing: 1px;
}
     .img-1{

        margin: 180px;
        margin-left: -6px;
    }
    .img-2{

        margin-top: -610px;
        margin-left: -8px;
    }
    .logo-middle img{
        width: 200px;
    }


}

/*CSS*/
.myPhoto{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
}
.myPhoto img{
    width:400px;
    height:250px;
}
.myPortFlop{
    text-align: center;
    padding: 30px;
    color: #5E5E5E;
}